<article class="SuKienNoiBat">
 <h1><%= appdata.SuKienNoiBat.shortname %></h1>
  <p>
  <img src="<%= appdata.SuKienNoiBat.where.img %>" alt="SuKienNoiBat Location">     
  <%= appdata.SuKienNoiBat.time %>
  </p>
  <p>
  <%= appdata.SuKienNoiBat.where.name %>, <%= appdata.SuKienNoiBat.where.description %>
  </p>
  <p><% include socialmedia.ejs %></p>
</article>